.App {
  display: flex;
  flex-direction: column;
}

.header-bar {
  height: 64px;
  background: #FFFFFF;
  box-shadow: inset 0px -1px 0px #EFEFEF;
  border-top: 5px solid #0addd7;
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 27px;
}